:root {
    --color-bg: rgb(14, 21, 38);
    /* main background */
    --color-text: rgb(248, 250, 252);
    /* main text, button text */
    --color-accent: rgb(56, 189, 248);
    /* links, icons, borders on a dark background */
    --color-btn-bg: rgb(3, 105, 161);
    /* background for solid buttons/CTAs */

    --font-body: "Inter", "Montserrat", sans-serif;
    --font-mono: "JetBrains Mono", Consolas, monospace;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    max-width: 100%;
    font-family: var(--font-body);
    width: 100%;
    background-color: var(--color-bg);
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100dvh;
    line-height: 1.5;
    color: var(--color-text);

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

:focus-visible {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
}

/* ==================================== HEADER ==================================== */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);
    padding: 1rem;
    background-color: var(--color-bg);
}

header .logo a {
    display: flex;
    align-items: center;
    gap: .3rem;
}

header .logo img {
    height: 60px;
}

header .logo span {
    color: var(--color-accent);
    font-size: 1.3rem;
    font-weight: 700;
}

#menu {
    color: var(--color-accent);
    font-size: 2rem;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    line-height: 1;
}

#menu:hover {
    color: var(--color-text);
}

#navbar {
    width: 100%;
}

#navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 1rem 0 0 0;
    text-align: left;

}

#navbar.open ul {
    display: flex;
    /* displayed only if JS adds .open */
}

#navbar a {
    color: var(--color-accent);
    font-weight: 700;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
}

#navbar a.active {
    color: var(--color-text);
}

#navbar a:hover {
    color: var(--color-text);
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}